<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport.code %>
  </p>

  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport.code %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= flight.start_datetime %>
  </p>

  <p>
    <strong>Flight duration minutes:</strong>
    <%= flight.duration_minutes %>
  </p>

</div>
