<p style="color: green"><%= notice %></p>

<div class="header">
  <%= render partial: "search", locals: {
    airport_options: @airport_options,
    num_passengers_options: @num_passengers_options
    } %>
  
  <div class="title">
    <h1>Flight Search</h1>
  </div>
</div>

<% if @flights %>

  <% if @params_text %>
    <h3>Showing Results For:</h3>
    <ul>
      <%== "<li>Departure Airport: #{@params_text[:departure_airport]}</li>" if @params_text[:departure_airport].present? %>
      <%== "<li>Arrival Airport: #{@params_text[:arrival_airport]}</li>" if @params_text[:arrival_airport].present? %>
      <%== "<li>Date: #{@params_text[:date]}</li>" if @params_text[:date].present? %>
    </ul>
  <% end %>

  <div id="flights">
    <%= form_with url: :new_booking, method: :get, class: "radio" do |form| %>
      <%= form.hidden_field :num_passengers, value: @num_passengers %>
      <%= form.collection_radio_buttons :flight_id, @flights, :id, :id do |block| %>
        <div class="option-module" style="display: flex; gap: 2rem; padding: 1rem">
          <%= block.radio_button %>
          <%= render partial: "flight", locals: { flight: block.object } %>
        </div>
      <% end %>
      <div class="submit"><%= form.submit "Create Booking" %></div>
    <% end %>
  </div>

  <%== pagy_nav(@pagy) %>
<% else %>
  <p>Enter search criteria to find your flight.</p>
<% end %>
